# mac os files
.DS_Store

# virtual environment
.venv

# cache
__pycache__

# diff files
*.diff

# secret keys
api_key.txt
.env

# training files
training/

# private_data
private_data
data_archives
data_cleaned
data_training
data_yf
data_z

# temp
temp
